
@import "helpers/variables";
@import "helpers/canvas";
@import "helpers/images";
html, body {
	height: 100%;
}
/*stuff that governs the top navigation banner that is persistent throughout*/
#topBanner{
	position: absolute;
	background-color: #ddeeee;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0 auto;
		
		.bannerButton{
		display: block;
		 width: 115px;
		 height: 25px;
		 background: #4E9CAF;
		 padding: 10px;
		 text-align: center;
		 border-radius: 5px;
		 color: white;
		 font-weight: bold;
		 display: inline-block;
	}
	
	 .bannerButton:hover{
			background-color: #00cc00;
			position: relative;
			top: -5px;
		}
}

#bannerContent{
	opacity: 1.0;
	margin: 0 auto;
	padding: 10px;
}


/*End of navigation banner stuff*/

#mainBody{
	
	/*makes sure that copyright element is at bottom*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-top: 160px;
	margin-bottom: -50px;
	
	#mainBody p{
		position: relative;
		max-width: 1200px;
	}
	
}


.copyright, .push{
	height: 50px;
   float: right;
}

/*stuff to do with text and image layout*/

/*image container that puts images in the middle*/
.heroContainer{
		overflow: auto;
}


.textWrapRight{
	margin: 0px 0px 15px 15px;
	float: right;
	margin: 10px;
}

.textWrapLeft{
	float: left;
	margin: 10px;
}
/*End of image layout stuff*/

/*for when I want to write a code example*/
.codeBlock{
	position: relative;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

#hover-over-box{
	position: absolute;
	background-color: purple;
	opacity: 0.8;
	width: auto;
	height: auto;
}

#bioBox{
	position: absolute;
	display: none;
	background-color: #ddeeee;
	width: 500px;
	height: auto;
	left: 300px;
	top: 300px;
	-webkit-transition: opacity 2.0s;
   -moz-transition: opacity 2.0s;
   -o-transition: opacity 2.0s;
   transition: opacity 2.0s;
}

